# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/release
*.js.map
print.pdf

# dependencies
/node_modules

# misc
package-lock.json

# System Files
.DS_Store
Thumbs.db
.angular/
